.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.month{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.week{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.year{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tile{
  height: 5em;
  width: 5em;
  padding-left: 10px;
  border: 2px solid black;
}
.text{
  color:#fff;
}
.title{
  color:#2699FB;
}
.subtitle{
  color:#2699FB;
}
#AaG{
  background-color: #4B4B4B;
}
.subtitle2{
  color: #2699FB;
}
.button{
  background-color: #4B4B4B;
}
#Navburger{
  color: #2699FB;
}
#root{
  background-color: #000;
}
